@font-face {
    font-family: 'Roboto-Black';
    src: url('RobotoSlab-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-ExtraBold';
    src: url('RobotoSlab-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('RobotoSlab-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-SemiBold';
    src: url('RobotoSlab-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('RobotoSlab-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('RobotoSlab-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('RobotoSlab-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-ExtraLight';
    src: url('RobotoSlab-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('RobotoSlab-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

